body{
  width:1024px;
}
.header{
  width:100%;
  position:fixed;
  left:0px;
  top:0px;
  margin:0;
  background-color:white;
  border-bottom:1px solid black;
}
.header-logo{
  padding:10px;
  margin:10px;
  float:left;
}
.header-list li{
  padding:5px;
  margin:5px;
  float:left;
}
li{
  list-style:none;
}
.main{
  text-align:center;
}
