.header{
  width:100%;
  height:100px;
  position:fixed;
  left:0px;
  top:0px;
  margin:0;
  background-color:#72ed93;
  border-bottom:1px solid #72ed93;
  color:white;
}
.header-logo{
  padding:10px;
  margin:10px;
  float:left;
}
.header-list li{
  padding:5px;
  margin:5px;
  float:left;
}
li{
  list-style:none;
}
.main{
  text-align:center;
  padding-top:100px;
}
