*{
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}
.header{
  width:100%;
  height:100px;
  position:fixed;
  left:0px;
  top:0px;
  margin:0;
  background-color:#9398ed;
  border-bottom:1px solid #9398ed;
  color:white;
}
.header-logo{
  padding:10px;
  margin:10px;
  float:left;
}
.header-list li{
  padding:5px;
  margin:5px;
  float:left;
}
li{
  list-style:none;
}
.main{
  text-align:center;
  padding-top:100px;
}
table{
  border-collapse:collapse;
  width:100%;
}
.left{
  width:70%;
  border-right:1px solid black;
}
.right{
  width:30%;
  border-left:1px solid black;
}
